.account {
  text-align: left;
}

.accountTable {
  margin-top: 20px;
}

.head {
  font-size: 1.25rem;
  font-weight: 600;
}

.logo {
  width: 25px;
}

.nickname {
  margin-left: 30px;
}

.amount {
  float: right;
}